<!DOCTYPE html>
 <html>
  <body>
    <center>
    <h1>My Account Info</h1>

     <table>
       <tr>
         <td><h3>Account Address :</h3></td>
         <td><%=det.addr%></td>
       </tr>
       <tr>
         <td><h3>Ether :</h3></td>
         <td><%=det.value/1000000000000000000%><td>
         </tr>
       </table>
     </center>
   </body>
   </html>
