<!DOCTYPE html>
 <html>

  <head>

     <title>Welcome</title>
   </head>

   <body>
     <center>
      <h1>welcome</h1>
<form method="POST">
  From:
   <input type="text" name="from"/><br>
  To:
   <input type="text"  name="to"/><br>
  Amount:
   <input type="number" name="ether"/><br>
   <input type="submit" name="submit" value="send"/><br>
</center>
  </body>

    </html>
